@import '../../../styles/theme';

.card {
    border: none;
    width: 500px;

    .card-title {
        text-align: center;
    }

    .card-img {
        padding: 0 10px 10px 10px;
        text-align: center;

        img {
            width: 100%;
        }
    }

    .card-body {
        margin: 0 10px;
        padding: 0;

        .list-group {
            .list-group-item {
                span {
                    margin: 0 2px;
    
                    &.link {
                        text-indent: -9999px;
                        line-height: 0;
    
                        &::after {
                            content: "...";
                            text-indent: 0;
                            display: block;
                            line-height: initial;
                          }
                    }
                } 
            }
        }
    }
}


@media only screen and (max-width: $resS) {
    .card {
        width: 100%;

        .card-img {
            img {
                width: 200px;
            }
        }
    }
}