<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-12">
            <h3 class="card-title">{{ title }}</h3>
        </div>        
        <div class="col-sm-4">
            <div class="card-img">
                <img [src]="imageUrl" class="rounded-circle">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                <ul class="list-group">
                    <li
                        *ngFor="let detail of details"
                        class="list-group-item"
                    ><strong>{{detail.title}}</strong>:
                    <span>{{ getValue(detail.values) }}</span>
                    
                        <!-- #TODO - list from array and link, ex films -->
                        <!-- <span
                            *ngFor="let value of detail.values"
                            [ngClass]="{
                                'link btn btn-primary btn-sm': value.routerLink,
                                'data': value.data
                            }"
                        >{{value.value}}</span> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>