<nav [ngClass]="side" class="navbar sticky-top bg-dark flex-md-nowrap p-0">
  <div
    class="navbar-brand col-sm-3 col-md-2 mr-0"
  >
    STAR WARS • <span class="side">The {{side}} side</span> <a href="">change</a>
</div>

  <img class="side-person-icon rounded-circle" [src]="sidePersonIcon">
</nav>