@import '../../../styles/theme';

.navbar {
    background-color: var(--colorVeryDark) !important;
    font-weight: 700;
    height: 40px;

    .navbar-brand {
        color: var(--colorLight);
        font-size: 14px;

        .side {
            color: var(--colorAction);
            text-transform: uppercase;
        }

        a {
            color: var(--colorLight);
            font-weight: 300;
            margin-left: 10px;

            &:hover {
                color: var(--colorAction);
            }
        }
    }

    .side-person-icon {
        height: 34px;
        position: absolute;
        right: 3px;
        top: 3px;
    }
}
