:host ::ng-deep {
    .ui-table {
        .ui-table-thead th {
            background-color: var(--colorLight);
            border-color: var(--colorMedium);
            color: var(--colorVeryDark);
        }

        .ui-table-tbody {
            td {
                border-color: var(--colorMedium);
                color: var(--colorVeryDark);
            }

            .ui-selectable-row {
                &:hover {
                    background-color: var(--colorDark) !important;

                    td {
                        color: var(--colorVeryLight);
                    }
                }
            }
        }
    }

    .ui-paginator {
        background: none;
        border: none;
        margin-top: 10px;

        .ui-paginator-pages {
            .ui-paginator-page {
                &.ui-state-active {
                    background-color: var(--colorDark);
                    color: var(--colorAction);
                    font-weight: 700;
                }

                &:hover {
                    background-color: var(--colorDark) !important;
                    color: var(--colorVeryLight) !important;
                }
            }
        }

        .ui-paginator-element {
            &:hover {
                background-color: var(--colorDark) !important;
                color: var(--colorVeryLight) !important;
            }
        }

        .ui-dropdown {
            height: 100%;
        }
    }
}