<p-table
    (onPage)="onPaginate($event)"
    [(first)]="first"
    [columns]="columns"
    [loading]="isLoading"
    [paginator]="isInternalPaginator"
    [rowHover]="rowHover"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [value]="value"
>
    <ng-template
        pTemplate="header"
        let-columns
    >
        <tr *ngIf="value">
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template
        pTemplate="body"
        let-row
        let-columns="columns"
    >
        <tr
            (click)="onRowClick(row)"
            [ngClass]="{'ui-selectable-row': rowHover}"
        >
            <td *ngFor="let col of columns">
                {{ getValue(row, col.field) }}
            </td>
        </tr>
    </ng-template>
</p-table>

<div
    class="my-1"
    *ngIf="isExternalPaginator"
>
    <p-paginator
        [(first)]="first"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="rowsPerPageOptions"
        (onPageChange)="onPaginate($event)"
    ></p-paginator>
</div>