$col-dark-side: #474a4f;
$col-light-side: #637bad;

// colors
//$c-gray-2f: #2f2f2f;

//media breakpoints
// $resXXL: 1280px !default;
$resXL: 1200px !default;
$resL: 992px !default;
$resM: 768px !default;
$resS: 576px !default;
// $resXS: 500px !default;
// $resXXS: 435px !default;

// @function var($variable) {
//     @return map-get($variables, $variable);
// }

// // default colors
// .theme-wrapper {
//     --colorVeryDark: #273a63,
//     --colorDark: #3a5795,
//     --colorMedium: #637bad,
//     --colorLight: #adb9d3,
//     --colorVeryLight: #edf0f5,
//     --colorAction: #FFCF43
// }

// // pass variables into a sass map
// $variables: (
//     --colorVeryDark: var(--colorVeryDark),
//     --colorDark: var(--colorDark),
//     --colorMedium: var(--colorMedium),
//     --colorLight: var(--colorLight),
//     --colorVeryLight: var(--colorVeryLight),
//     --colorAction: var(--colorAction),
// );
