<div class="container">
    <div class="sides">
        <h1>Choose your side</h1>

        <div class="row">
            <div class="col-6 side dark-side">
                <button
                    (mouseover)='overDark()'
                    (mouseout)='out()'
                    type="button"
                    class="btn btn-primary btn-lg"
                    (click)="onDarkSideClick()"
                >DARK</button>
            </div>
            <div class="col-6 side light-side">
                <button
                    (mouseover)='overLight()'
                    (mouseout)='out()'
                    type="button"
                    class="btn btn-secondary btn-lg"
                    (click)="onLightSideClick()"
                >LIGHT</button>
            </div>
        </div>

        <h2
            *ngIf="ifDarkSide || ifLightSide"
            class="force-text"
        >And may the Force be with you</h2>
    </div>

</div>

<div
    *ngIf="ifDarkSide"
    class="side-bg dark"
></div>
<div
    *ngIf="ifLightSide"
    class="side-bg light"
></div>