@import '../../styles/theme';

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    max-width: 100%;

    .force-text {
        color: #fff;
        left: 0; 
        margin-left: auto; 
        margin-right: auto; 
        position: absolute; 
        right: 0; 
        width: 100%;
        z-index: 3;
    }

    .sides {
        padding: 3rem 1.5rem;
        text-align: center;

        .side {
            height: 150px;
            position: relative;

            .btn {
                border-color: black;
                font-weight: 800;
                position: absolute;
                top: 50px;
                z-index: 3;
            }

            &.dark-side {
                .btn {
                    background-color: $col-dark-side;
                    right: 20px;
                }
            }

            &.light-side {
                .btn {
                    background-color: $col-light-side;
                    left: 20px;
                }
            }
        }
    }
}

.side-bg {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    &.dark {
        background-color: $col-dark-side;
    }
    
    &.light {
        background-color: $col-light-side;
    }
}