<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-light containe-sidebar">
      <app-sidebar [items]="sidebarItems"></app-sidebar>
    </div>

    <main
      role="main"
      class="col-10 ml-sm-auto pt-3 px-4"
    >
      <app-content-header></app-content-header>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>