.border-top {
	border-top: 1px solid #e5e5e5;
}
.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

.containe-sidebar {
	bottom: 0;
    left: 0;
    margin-top: 40px;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
