<div
    *ngIf="getData"
    class="form-inline my-2"
>
    <input
        [(ngModel)]="searchText"
        class="form-control mr-sm-3"
        type="text"
        placeholder="Search"
        aria-label="Search"
    >
    <button
        (click)="onSearch()"
        class="btn btn-theme"
    >Search</button>
</div>

<app-data-table
    (pageChange)="onPageChange($event)"
    (rowClick)="onRowClick($event)"
    [columns]="getColumns"
    [first]="getFirst"
    [rowHover]="true"
    [rows]="getRows"
    [totalRecords]="getCount"
    [value]="getData"
></app-data-table>

<p-dialog
    [(visible)]="ifDetailsModalVisible"
    baseZIndex="9"
    header="Details"
    (onHide)="ifDetailsModalVisible=false"
>
    <app-details-card
        [details]="details"
        titleField="name"
    ></app-details-card>
</p-dialog>
