:host ::ng-deep {
    .btn-theme {
        background-color: var(--colorDark);
        color: var(--colorVeryLight);

        &:hover {
            background-color: var(--colorMedium) !important;
        }
    }

    .form-control {
        border-color: var(--colorMedium);
    }

    .ui-dialog {
        .ui-dialog-titlebar {
            background-color: var(--colorDark);
            border-color: var(--colorVeryDark);
            color: var(--colorVeryLight);

            .ui-dialog-titlebar-close {
                color: var(--colorVeryLight);
            }
        }

        .ui-dialog-content {
            border-color: var(--colorVeryDark);
            
            .card-body {
                .list-group {
                    .list-group-item {
                        border-color: var(--colorMedium);
                    }
                }
            }
        }
    }
}