@import '../../../styles/theme';

.sidebar {
	background-color: var(--colorLight);
	border-right: 1px solid var(--colorMedium);
	height: 100%;

    .sidebar-sticky {
		height: calc(100vh - 48px);
		overflow-y: auto;
        overflow-x: hidden;
        position: -webkit-sticky;
        position: sticky;
		
		.nav {
			.nav-item {
				border-bottom: 1px solid var(--colorMedium);
				text-align: center;

				.nav-link {
					color: #333;
					font-weight: 500;

					&.active {
						background-color: var(--colorDark);
						color: var(--colorAction);
					}
				}

				&:hover {
					background-color: var(--colorDark);

					.nav-link {
						color: var(--colorVeryLight);
					}
				}
			}
		}
    }
}