<nav class="sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li
        *ngFor="let item of items"
        class="nav-item"
      >
        <a
          class="nav-link"
          [routerLink]="item.RouterLink"
          [routerLinkActive]="['active']"
        >
          <span data-feather="home"></span>
          {{item.Title}}
        </a>
      </li>
    </ul>
  </div>
</nav>